# Auto detect text files and perform LF normalization
* text=auto
*.pd linguist-language=Pure Data
*.pd linguist-detectable=true
*.sh linguist-detectable=true
*.py linguist-detectable=true
*.vbs linguist-detectable=false