[Unit]
Description=em_midisetup
After=sound.target midi.target

[Service]
Type=simple
ExecStart=/home/pi/emsys-rnbo/.venv/bin/python /home/pi/emsys-rnbo/serv/em_midisetup.py
WorkingDirectory=/home/pi/emsys-rnbo
StandardOutput=inherit
StandardError=inherit
Restart=always
#User=patch

[Install]
WantedBy=default.target
